<section class="p-3 bg-light" style="margin-top:0px;">
  <% first_property = property.images.first %>
  <div class="image image-overlay" style="background-image:url(<%=asset_path('sofa3.jpg')%>); opacity:1; filter: blur(10px);"></div>

  <div class="container text-white"">
    <div class="row justify-content-center ">
      <div class="col-md-8 align-self-center text-center">
        <h2 class="mt-6">Visite les appartements
          <h1><span id="typed" class="text-blue"></span></h1>

          <div id="typed-strings">
            <p>en avant-première.</p>
            <p>sans aucune galère.</p>
            <p>avant tout le monde.</p>
          </div>


        </div>
      </div>
    </div>
  </section>

