
<div class="mt-2 mb-2">
  <a class="text-primary link" data-toggle="modal" data-target="#forgotPassword">
    Mot de passe oublié ?
  </a>
</div>



<div class="modal fade" id="forgotPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-end">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="icon-x"></span>
        </button>
      </div>
      <div class="modal-body text-center">
        <h3>Mot de passe oublié ?</h3>
        <p>Renseigner votre mail ci-dessous afin de recevoir les instructions de rénitialisation de votre mot de passe</p>

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |form| %>
        <%= form.error_notification %>

        

        <div class="form-inputs">
          <div class="form-group">
            <%= form.input :email,
            required: true,
            autofocus: true,
            input_html: { autocomplete: "email" },
            class: "form-control" %>
          </div>

        </div>


      </div>
      <div class="modal-footer">
        <%= form.button :submit, "Envoyer les instructions par mail", class: "btn btn-primary btn-block" %>
      </div>
      <% end %>
    </div>
  </div>
</div>