<h1>Agencies#show</h1>
<p>Find me in app/views/agencies/show.html.erb</p>

<ul>
	<li>Agence : <%= @agency.name %></li>
	<li>Address : <%= @agency.address %></li>
	<li>Phone : <%= @agency.phone %></li>
	<li>Email : <%= @agency.email %></li>
</ul>
