<section>
  <div class="image image-overlay image-scrolling skrollable skrollable-between" style="background-image: url(<%=asset_path('coworking-2.jpg')%>); transform: translateY(7.8823%);" data--100-bottom-top="transform: translateY(0%);" data-top-bottom="transform: translateY(25%);"></div>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-8 col-lg-6 text-center text-white text-shadow">
        <span class="eyebrow mb-1">Des Questions ?</span>
        <h2 class="display-4">Contacte notre <b>support</b> par mail</h2>
        <%= mail_to 'greg@hellodingdong.com', 'Je contacte', target: '_blank', class: 'btn btn-white btn-rounded px-4' %>
      </div>
    </div>
  </div>
</section>