/*PROPERTIES*/

.property h3{
	font-weight: 600;
}

.property ul {
	padding-left: 0.5em;
	list-style: none;
	line-height: 2em;
}

.icon{
	padding: 0.7em;
}

.white{
	background-color: #fff;
	padding: 2em;
}

.agency-login{
	font-size: 1.5em;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	margin: auto;
	font-weight: 300;
}

.link{
	cursor: pointer;
}


/*INPUT FILE FOR IMAGES*/

.inputfile{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

