 <div class="tab-pane show active" id="demo-2-1" role="tabpanel" aria-labelledby="demo-2-1">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-8">
                <div class="row gutter-1">
                  <div class="col-12">
                    <div class="boxed p-2">
                      <div class="row align-items-center justify-content-between">
                        <div class="col-10">
                          <div class="media align-items-center">
                            <img src="../../assets/images/demo/user-5.jpg" alt="Avatar" class="avatar avatar-lg rounded mr-3">
                            <div class="media-body">
                              <h5 class="mb-0">Appart 1</h5>
                              <span class="text-muted">Paris 18 T2 chanmé</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-2 text-md-right">
                          <div class="dropdown">
                            <a class="btn btn-ico btn-outline-light text-dark rounded btn-sm" href="#" role="button" id="dropdownMenuLink-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="icon-more-vertical fs-22"></i>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-3">
                              <a class="dropdown-item" href="#">Make Primary</a>
                              <a class="dropdown-item" href="#">Remove</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="boxed p-2">
                      <div class="row align-items-center justify-content-between">
                        <div class="col-10">
                          <div class="media align-items-center">
                            <img src="../../assets/images/demo/user-2.jpg" alt="Avatar" class="avatar avatar-lg rounded mr-3">
                            <div class="media-body">
                              <h5 class="mb-0">James Doe</h5>
                              <span class="text-muted">Senior UI Designer</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-2 text-md-right">
                          <div class="dropdown">
                            <a class="btn btn-ico btn-outline-light text-dark rounded btn-sm" href="#" role="button" id="dropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="icon-more-vertical fs-22"></i>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-4">
                              <a class="dropdown-item" href="#">Make Primary</a>
                              <a class="dropdown-item" href="#">Remove</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="boxed p-2">
                      <div class="row align-items-center justify-content-between">
                        <div class="col-10">
                          <div class="media align-items-center">
                            <img src="../../assets/images/demo/user-3.jpg" alt="Avatar" class="avatar avatar-lg rounded mr-3">
                            <div class="media-body">
                              <h5 class="mb-0">Violet Doe</h5>
                              <span class="text-muted">Senior UI Designer</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-2 text-md-right">
                          <div class="dropdown">
                            <a class="btn btn-ico btn-outline-light text-dark rounded btn-sm" href="#" role="button" id="dropdownMenuLink-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="icon-more-vertical fs-22"></i>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-5">
                              <a class="dropdown-item" href="#">Make Primary</a>
                              <a class="dropdown-item" href="#">Remove</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="boxed p-2">
                      <div class="row align-items-center justify-content-between">
                        <div class="col-10">
                          <div class="media align-items-center">
                            <img src="../../assets/images/demo/user-4.jpg" alt="Avatar" class="avatar avatar-lg rounded mr-3">
                            <div class="media-body">
                              <h5 class="mb-0">Valerie Doe</h5>
                              <span class="text-muted">Senior UI Designer</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-2 text-md-right">
                          <div class="dropdown">
                            <a class="btn btn-ico btn-outline-light text-dark rounded btn-sm" href="#" role="button" id="dropdownMenuLink-6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="icon-more-vertical fs-22"></i>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-6">
                              <a class="dropdown-item" href="#">Make Primary</a>
                              <a class="dropdown-item" href="#">Remove</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="boxed p-2">
                      <div class="row align-items-center justify-content-between">
                        <div class="col-10">
                          <div class="media align-items-center">
                            <img src="../../assets/images/demo/user-6.jpg" alt="Avatar" class="avatar avatar-lg rounded mr-3">
                            <div class="media-body">
                              <h5 class="mb-0">Nick Doe</h5>
                              <span class="text-muted">Senior UI Designer</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-2 text-md-right">
                          <div class="dropdown">
                            <a class="btn btn-ico btn-outline-light text-dark rounded btn-sm" href="#" role="button" id="dropdownMenuLink-7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="icon-more-vertical fs-22"></i>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-7">
                              <a class="dropdown-item" href="#">Make Primary</a>
                              <a class="dropdown-item" href="#">Remove</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>