<div class="tab-pane" id="demo-2-2" role="tabpanel" aria-labelledby="demo-2-2">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <div class="row">
          <div class="col">
            <h5 class="mb-2 fs-20 font-weight-normal">Nouveau bien</h5>
            <form>
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="userMail">Titre</label>
                    <input type="email" class="form-control" id="userMail" aria-describedby="userMail" placeholder="T2 avec une incroyable vue">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="firstName">Prix</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">€</span>
                      </div>
                      <input type="text" id="userTwitter" class="form-control" placeholder="1600" aria-label="Username" aria-describedby="userTwitter">
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="firstName">Surface</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">m2</span>
                      </div>
                      <input type="text" id="userTwitter" class="form-control" placeholder="75" aria-label="Username" aria-describedby="userTwitter">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="firstName">Etage</label>
                    <input type="email" class="form-control" id="firstName" aria-describedby="firstName" placeholder="3">
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="secondName">Nombre de chambres</label>
                    <input type="email" class="form-control" id="secondName" aria-describedby="secondName" placeholder="2">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="agencyAddress">Address</label>
                    <input type="textarea" class="form-control" id="agencyAddress" aria-describedby="agencyAddress" placeholder="68 Rue Joseph de Maistre">
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="agencyAddress">Arrondissement</label>
                    <input type="textarea" class="form-control" id="agencyAddress" aria-describedby="agencyAddress" placeholder="75018">
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="agencyAddress">Ville</label>
                    <input type="textarea" class="form-control" id="agencyAddress" aria-describedby="agencyAddress" placeholder="Paris">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" placeholder="Appartement meublé de 75 m², au 3ème étage d'un immeuble récent, se compose d'une entrée, d'un salon, d'une chambre, d'une salle de bains. Les WC sont séparés et une TERRASSE de 32 m² avec vue sur le Sacré Coeur complète ce bien. De nombreux placards. Les sols sont en marbre, très belles prestations. Chauffage et eau collectifs.."></textarea>
                  </div>
                </div>
              </div>
              <div class="form-row mt-1 align-items-center">
                <div class="col-3">
                  <button class="btn btn-secondary">Enregistrer mon bien</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
	</div>
</div>