<div class="container">
  <div class="row">
    <div class="col text-center">
      <%= link_to 'Demander une visite', property_visits_path(@property.id), class: 'btn btn-orange', method: 'create' %>
    </div>
  </div>
</div>