<section class="p-0">
	
      <div class="swiper-container swiper-container-half text-white swiper-container-fade swiper-container-horizontal skrollable skrollable-between" data-top-top="transform: translateY(0px);" data-top-bottom="transform: translateY(250px);" style="transform: translateY(0px);">
        <div class="swiper-wrapper">
          <div class="swiper-slide vh-100 swiper-slide-active" style="width: 1056px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
            <div class="image image-overlay" style="background-image:url(<%=asset_path('sofa.jpg')%>)"></div>
            <div class="caption">
              <div class="container">
                <div class="row justify-content-center vh-100">
                  <div class="col-md-8 align-self-center text-center">
                    <h1>Ding-Dong</h1>
                    <h2>Trouvez votre futur Cocon
                    <h1><span id="typed" class="text-blue"></span></h1>
                    
					<div id="typed-strings">
					    <p>en moins d'une semaine.</p>
					    <p>sans aucune galère.</p>
					    <p>en exclusivité.</p>
					    <p>sans concurrence.</p>
					</div>
                    <a href="#ancre" class="btn btn-rounded btn-white px-5">M'inscrire aux visites !</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-footer">
            <div class="container-fluid">
              <div class="row">
                <div class="col text-center">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>

 </section>