<section class="section-lg">
      <div class="container">
        <div class="row text-center text-lg-left">
          <div class="col-12 col-lg-9">
            <div class="row">
              <div class="col-lg-8">
                <p><h5> Inscrivez vous aux visites de nos appartements <br> sans débourser un euro. <br> <br>
                  <span class="text-primary"style="font-weight:bolder;">99€ uniquement si <br> </span>vous devenez locataire à la suite de la visite.
                </h5  >
              </p>
              </div>
            </div>
            <div class="row gutter-0">
              <div class="col-sm-6 col-lg-4 aos-init"  data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                <div class="bordered rising p-3" style="height: 18em;">
                  <i class="fas fa-book text-orange fs-40 mb-3"></i>
                  <h4 class="mb-0">1 Dossier digital</h4> <br>
                  <p>Plus de papier, vos candidatures sont simplifiées avec un dossier unique 100% numérique.</p>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 aos-init" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="150">
                <div class="bordered rising p-3" style="height: 18em;">
                  <i class="fas fa-users text-orange fs-40 mb-3"></i>
                  <h4 class="mb-0">10 visiteurs max</h4> <br>
                <p>Moins de candidats, plus de chance d'obtenir les clés.</p>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 aos-init" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="300">
                <div class="bordered rising p-3" style="height: 18em;">
                  <i class="fas fa-mouse-pointer text-orange fs-40 mb-3"></i>
                  <h4 class="mb-0">3 clics</h4> <br>
                  <p>C'est ce qu'il vous faudra pour réserver votre visite.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3 presentation presentation-responsive">
            <img class="left-25 vertical-align" style="width: 30em;" src="<%=asset_path("business_model_icon2.svg")%>" alt="Image">
          </div>
        </div>
      </div>
    </section>
