<section class="section-lg">
      <div class="container">
        <div class="row text-center text-lg-left">
          <div class="col-12 col-lg-9">
            <div class="row">
              <div class="col-lg-8">
                <p><h5> Inscrivez vous aux visites de nos appartements <br> sans débourser un euro. <br> <br>
                  <span class="text-primary"style="font-weight:bolder;">99€ uniquement si <br> </span>vous devenez locataire à la suite de la visite.
                </h5>
              </p>
              </div>
            </div>  
        </div>
      </div>
    </section>
