<section class="section-lg">
      <div class="container">
        <div class="row text-center text-lg-left">
          <div class="col-12 col-lg-9">
            <div class="row">
              <div class="col-lg-8">
                <h2>Visite avant tout le monde<br> Sans dépenser un sou.</h2>
                <p class="lead text-primary"><span style="font-size:1.5em;">99 €</span> si seulement si tu deviens locataire.</p>
              </div>
            </div>
            <div class="row gutter-0">
              <div class="col-sm-6 col-lg-4 aos-init" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                <div class="bordered rising p-3">
                  <i class="fas fa-leaf text-orange fs-40 mb-3"></i>
                  <h4 class="mb-0">1 Dossier <sup>digital</sup></h4>
                  <p>Stop les dossiers papier, tu auras toujours le tien en poche.</p>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 aos-init" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="150">
                <div class="bordered rising p-3">
                  <i class="fas fa-users text-orange fs-40 mb-3"></i>
                  <h4 class="mb-0">10 candidats <sup>max</sup></h4>
                  <p>Premier arrivé ? Autant de chance d'obtenir les clés.</p>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 aos-init" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="300">
                <div class="bordered rising p-3">
                  <i class="fas fa-mouse-pointer text-orange fs-40 mb-3"></i>
                  <h4 class="mb-0">3 clics</h4>
                  <p>C'est tout ce dont tu auras besoin pour visiter.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3 presentation presentation-responsive">
            <img class="left-25 vertical-align" style="width: 30em;" src="<%=asset_path("business_model_icon2.svg")%>" alt="Image">
          </div>
        </div>
      </div>
    </section>