<footer class="bg-dark text-white">
              <div class="container py-5">
                <div class="row justify-content-between align-items-center">
                  <div class="col-md-5 text-center text-md-left">
                    <ul class="nav lavalamp"><div class="lavalamp-object ease" style="transition-duration: 0.2s; width: 108.297px; height: 37px; transform: translate(0px, -8px);"></div>
                      <li class="nav-item lavalamp-item" style="z-index: 5; position: relative;">
                        <a class="nav-link" href="#">Contacts</a>
                      </li>
                      <li class="nav-item lavalamp-item" style="z-index: 5; position: relative;">
                        <a class="nav-link" href="#">About Us</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-2 text-center">
                    <a class="navbar-brand"   style="margin: auto" href="#"> <!-- rootpath -->
            			<span style="font-size: 30px; line-height:30px; color: #fff;">
						  <i class="fas fa-bell"></i>
						</span>
          			</a>
                  </div>
                  <div class="col-md-5 text-center text-md-right">
                    <ul class="nav lavalamp"><div class="lavalamp-object ease" style="transition-duration: 0.2s; width: 108.297px; height: 37px; transform: translate(0px, -8px);"></div>
                      <li class="nav-item lavalamp-item" style="z-index: 5; position: relative;">
                        <a class="nav-link" href="#">Privacy</a>
                      </li>
                      <li class="nav-item lavalamp-item" style="z-index: 5; position: relative;">
                        <a class="nav-link" href="#">Legal</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
</footer>