<footer class="bg-dark text-light fixed-bottom">
              <div class="container py-5 pb-5">
                  <div class="col-md-12">
                    <div class="col-md-6">
                        <small><a class="nav-link text-light" href="https://stripe.com">Payment secured with Stripe</a></small>
                  </div>
                  </div>
						      </span>
                  
                  </div>
                  
                </div>
              </div>
</footer>