<footer class="bg-dark text-white">
              <div class="container py-5 pb-10">
                  <div class="col-md-2 text-center">
                    
                  </div>
						      </span>
                  </div>
                </div>
              </div>
</footer>