<div class="modal fade" id="PropertyShow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-end">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="icon-x"></span>
        </button>
      </div>
      <% if current_tenant.payment_status_id == 1 %>
        <div class="modal-body text-center">
          <h3>Votre empreinte bancaire</h3>
          <p>Afin de pouvoir valider votre demande de visite, nous vous demandons une empreinte bancaire et un numéro de téléphone.</p><br/>
          <p>Vous serez facturé de 99€ <span class="text-black">si et seulement si</span> vous devenez locataire de l'appartement.</p>
        </div>
        <div class="modal-footer">
            <%= render 'layouts/stripe_print' %>
        </div>

      <% else %>


        <div class="modal-body text-center">
          <h3>Validez votre visite</h3>
          <p>Nous reviendrons vers vous rapidement pour valider votre visite.</p>
          <p>Vous serez facturé de 99€ <span class="text-black">si et seulement si</span> vous devenez locataire de l'appartement.</p>
        </div>
        <div class="modal-footer">
            <%= render 'layouts/validate_visit' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
