<div class="tab-pane show active" id="component-1-1" role="tabpanel" aria-labelledby="component-1-1">
  <div class="component-example">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <button type="button" class="btn btn-orange" data-toggle="modal" data-target="#exampleModal">
            Demander une visite
          </button>
        </div>
      </div>
    </div>
  </div>