<button type="button" class="btn btn btn-outline-blue mb-1" data-toggle="modal" data-target="#PropertyShow">
    <i class="fas fa-calendar-check mr-1"></i>Demander une visite
</button>


<%=link_to root_path do %>
  <div class="btn btn btn-outline-orange mb-1"><i class="fas fa-heart mr-1"></i>Enregistrer</div> 
<%end%>

