<section class="p-0 bg-light">

      <div class="image image-overlay image-cover skrollable skrollable-between" style="background-image: url(<%=asset_path('sofa.jpg')%>); transform: translateY(0px);" data-top-top="transform: translateY(0px);" data-top-bottom="transform: translateY(-250px);"></div>


		<div class="container">
		        <div class="row justify-content-center align-items-end vh-50 mb-5">
		          <div class="col col-md-10 col-lg-8">
		            <div class="row align-items-center">
		              <div class="col-4 col-lg-3">
		                <img class="mr-3 avatar avatar-xl rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjMuS5nK2FvYCenei9JWmIET-sJ8jhue1zWmyuLmYOClwZLePLCw" alt="Generic placeholder image">
		              </div>
		              <div class="col">
		                <div class="row align-items-center">
		                  <div class="col-md-10">
		                    <h2 class="mb"><b><%=agency.name%></b></h2>
		                    <span class="text-muted"><%=agency.email%></span>
		                  </div>

		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
		</div>

</section>
