<div class="container">
  <div class="row">
    <div class="col">
      <div class="owl-carousel owl-loaded owl-drag" data-items="[3,2]" data-margin="10" data-dots="true" data-nav="true">

      <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-383px, 0px, 0px); transition: all 0.25s ease 0s; width: 1534px;"><div class="owl-item" style="width: 373.333px; margin-right: 10px;">
        <figure class="photo">
          <img src="<%=asset_path('photo1.jpg')%>" alt="Image">
        </figure></div><div class="owl-item active" style="width: 373.333px; margin-right: 10px;"><figure class="photo">
          <img src="<%=asset_path('photo2.jpg')%>" alt="Image">
        </figure></div><div class="owl-item active" style="width: 373.333px; margin-right: 10px;"><figure class="photo">
          <img src="<%=asset_path('photo3.jpg')%>" alt="Image">
        </figure></div><div class="owl-item active" style="width: 373.333px; margin-right: 10px;"><figure class="photo">
          <img src="<%=asset_path('photo4.jpg')%>" alt="Image">
        </figure></div></div>
      </div>

        <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next disabled"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button></div>

      </div>
    </div>
  </div>
</div>