


<div class="row">
  <div class="col">
    <article class="card">

      <div class="card-body overflow-hidden">
        <blockquote class="blockquote">
          <p class="mb-0">On m'appelle Flathunter, mais appelez-moi Flaty.</p>
          <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
      </div>

    </article>
  </div>
</div>
