<div class="component-example">
  <div class="container" style="margin-top: 250px;">
    <div class="row">
      <div class="col-md-6">
        <figure class="photo">
          <a class="lightbox" href="<%=asset_path(image_path(main_app.url_for(@property.images.first)))%>" title="Image title">
            <img src="<%=asset_path(image_path(main_app.url_for(@property.images.first)))%>" alt="Image">
          </a>
        </figure>
      </div>
      <div class="col-md-6">
        <figure class="photo">
          <a class="lightbox" href="<%=asset_path('sofa.jpg')%>" title="Image title">
            <img src="<%=asset_path('photo2.jpg')%>" alt="Image">
          </a>
        </figure>
      </div>
    </div>


  </div>
</div>