<div class="component-example">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="owl-carousel owl-loaded owl-drag" data-items="[3,2]" data-margin="10" data-dots="true" data-nav="true">    

                    <div class="owl-stage-outer">
                      <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0.25s ease 0s; width: 1534px;">
                        <div class="owl-item active" style="width: 373.333px; margin-right: 10px;">
                          <figure class="photo">
                            <% first_image_property = @property.images.first %>
                            <a class="lightbox" href="<%=asset_path(image_path(main_app.url_for(first_image_property)))%>">
                            <img src="<%=asset_path(image_path(main_app.url_for(first_image_property)))%>" alt="Image">
                          </a>
                          </figure>
                        </div>

                      <% @property.images.drop(1).each do |i| %>
                        <div class="owl-item active" style="width: 373.333px; margin-right: 10px;">
                          <figure class="photo">
                            <a class="lightbox" href="<%=asset_path(image_path(main_app.url_for(i)))%>">
                            <img src="<%=asset_path(image_path(main_app.url_for(i)))%>" alt="Image">
                            </a>
                          </figure>
                        </div>
                      <%end%>
                    </div>
                  </div>
        </div>
      </div>
    </div>
  </div>
</div>