<div class="col-md-12 col-lg-12">
  <div class="card text-center">
    <div class="card-header">
      <%= property.title %>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= property.price %> €/mois</h5>
      <h5 class="card-title">3 pièces</h5>
      <h5 class="card-title"><%= property.surface %> m2</h5>
      <h5 class="card-title">2 chambres</h5>
      <p class="card-text"><%= property.description %></p>

    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
</div>