<section class="section-lg">
      <div class="container">
        <div class="row justify-content-center text-center text-lg-left">

	          <div class="accordion-group accordion-group-steps" data-accordion-group="">
	            <div class="accordion open accordion-padding" data-accordion="">
	              <div class="accordion-control" data-control="">
	                <h2>Découvrez nos appartements en avant première</h2>
	              </div>
	              <div class="accordion-content" data-content="" style="transition: max-height 300ms ease 0s; max-height: 156px;">
	                <div class="accordion-content-wrapper">
	                  <p>Mettez-les en favori <i class="ml-1 fas fa-heart text-orange"></i></p>
	                </div>
	              </div>
	            </div>
	            <div class="accordion accordion-padding" data-accordion="">
	              <div class="accordion-control" data-control="">
	                <h2>Inscrivez-vous aux visites de vos appartements préférés</h2>
	              </div>
	              <div class="accordion-content" data-content="" style="max-height: 0px; overflow: hidden;">
	                <div class="accordion-content-wrapper">
	                  <p>Vous recevez un mail dans les 2 jours avec une proposition de visite <i class="ml-1 fas fa-calendar-check mr-1 text-orange"></i> </p>
	                </div>
	              </div>
	            </div>
	            <div class="accordion accordion-padding" data-accordion="">
	              <div class="accordion-control" data-control="">
	                <h2>Visitez avant tout le monde</h2>
	              </div>
	              <div class="accordion-content" data-content="" style="max-height: 0px; overflow: hidden;">
	                <div class="accordion-content-wrapper">
	                  <p>Comme promis, pas plus de 10 pour visiter un appart<i class="ml-1 fas fa-users text-orange"></i> </p>
	                </div>
	              </div>
	            </div>
              <div class="accordion accordion-padding" data-accordion="">
	              <div class="accordion-control" data-control="">
	                <h2>Vous êtes retenu pour l'appartement !</h2>
	              </div>
	              <div class="accordion-content" data-content="" style="max-height: 0px; overflow: hidden;">
	                <div class="accordion-content-wrapper">
	                  <p>Vous recevez une réponse dans la semaine et vous êtes débité.e de 99€<i class="ml-1 fas fa-key text-orange"></i> </p>
	                </div>
	              </div>
	            </div>
	          </div>
		</div>
	</div>
</section>
