

<div class="container">
  <div class="row">
    <div class="col text-center">
      <%= form_tag  property_visits_path(@property.id) do %>
        <article>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
        </article>
      <div class="modal-body text-center">
        <label>Votre numéro</label>
        <%= telephone_field :tenant, :phone_number, class: 'form-control form-control-lg', placeholder: "06-##-##-##-##", :required => true %>
      </div>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="Votre Empreinte Bancaire"
                    data-locale="auto"
                    data-name="Enregistrer"
                    data-panel-label="Enregistrer">
        </script>
      <button type="submit" class="btn btn-orange">Demander une visite</button>
      <% end %>
    </div>
  </div>
</div>

      <script>
          document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
      </script>
